# =========================
# Rust
# =========================
target
**/*.rs.bk
Cargo.lock
*.tmp
*.bak

# IntelliJ & VSCode
.idea/
.vscode/


# Rust compilation artifacts
*.rlib
*.dSYM
*.d

# Rust coverage/debug/test files
*.profraw
*.gcda
*.gcno
*.gcov
*.lst
*.out

# =========================
# Solana (with Anchor)
# =========================
dist
node_modules
.anchor
.mpl_cache

# Solana wallet files (IMPORTANT: do not push keys!)
*.json
*.keypair.json
id.json

# Anchor-generated IDL files (optional)
*.idl.json

# =========================
# Environment and Secrets
# =========================
.env
.env.local
.env.*.local
.secret
secrets/

# =========================
# System
# =========================
.DS_Store
Thumbs.db
*.log
*.lock

## File system
desktop.ini

## Editor
*.swp
*.swo
Session.vim
.cproject
.idea
*.iml
.vscode
.project
.vim/
.helix/
.zed/
.favorites.json
.settings/
.vs/
.dir-locals.el

## Tool
.valgrindrc
.cargo
# Included because it is part of the test case
!/tests/run-make/thumb-none-qemu/example/.cargo

## Configuration
/bootstrap.toml
/config.toml
/Makefile
config.mk
config.stamp
no_llvm_build

## Build
/dl/
/doc/
/inst/
/llvm/
/mingw-build/
/build
/build-rust-analyzer/
/unicode-downloads
/library/target
/src/bootstrap/target
/src/ci/citool/target
/src/tools/x/target
# Created by `x vendor`
/vendor
# Created by default with `src/ci/docker/run.sh`
/obj/
# Created by nix dev shell / .envrc
src/tools/nix-dev-shell/flake.lock

## ICE reports
rustc-ice-*.txt

## Temporary files
*~
\#*
\#*\#
.#*

## Tags
tags
tags.*
TAGS
TAGS.*

## Python
__pycache__/
*.py[cod]
*$py.class

## Node
package-lock.json
package.json
/src/doc/rustc-dev-guide/mermaid.min.js

## Rustdoc GUI tests
tests/rustdoc-gui/src/**.lock

## direnv
/.envrc
/.direnv/

## nix
/flake.nix
flake.lock
/default.nix

# Before adding new lines, see the comment at the top.